body {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  display: flex;
  gap: 5px;
  justify-content: space-around;
}

#editor {
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
}
#editor:focus {
  outline: none;
}

#preview {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  overflow: hidden;
}
